<template>
    <div id="app">
        <div class="panel-heading">
            <h3>发布一个交易广告</h3>
        </div>
        <div class="panel-body">
            <h4 style="color: red">禁止发布黄赌毒等违法广告，一经发现一律封IP。</h4>
            <p>请您在发布广告前仔细阅读以下重要说明。</p>
            <p>发布广告免费，硬件设备区每个广告发布需要消耗10个Tuzi。</p>
            <p>平台对每笔成功的交易扣除0.2%费用。</p>
            <p> Tuzicoin仅作为平台，不参与任何交易，仅为发生在平台内的广告交易提供保障，</p>
            <p>如交易过程中发生争议，您可以保留好聊天记录截图或照片，发送工单，我们将人工核实，保障您的交易安全。</p>
            <p>
                所有的交易请在tuzicoin上完成，若您脱离平台私下交易，发生被骗及其他损失，平台不承担任何赔偿责任。如果有用户要求您脱离平台私下交易，您可以保留聊天记录截图并联系我们进行投诉，我们将第一时间采取措施。</p>
            <p>风险提示：区块链代币交易具有较高的风险（价格暴涨暴跌、人为操控、团队解散、技术缺陷等因素）</p>
            <p>请您在发布广告交易前做好充分的风险认识。</p>
        </div>
    </div>
</template>

<script>

    export default {
        name: "app"
    }
</script>