<template>
    <div id="app">
        <vue-snotify></vue-snotify>
        <!-- stock_num,price,contact,min_limit,max_limit,img,send_addr,notes -->
        <!-- stock_num -->
        <div class="form-group" id="form-group-number">
            <label for="input-number" class="col-md-3 control-label">
                库存数量
                <small class="text-danger glyphicon glyphicon-asterisk"></small>
            </label>
            <div class="col-md-6">
                <div class="input-group">
                    <input v-model="stock_num" id="input-number" value="" class="form-control" placeholder="数量"
                           required="required">
                    <span class="input-group-addon" id="input-text-number-addon_after">个</span>
                </div>
            </div>
        </div>
        <!-- price -->
        <div class="form-group" id="form-group-price">
            <label for="input-price" class="col-md-3 control-label">
                价格
                <small class="text-danger glyphicon glyphicon-asterisk"></small>
            </label>
            <div class="col-md-6">
                <div class="input-group">
                    <input v-model="price" type="text" class="form-control" name="price" value=""
                           placeholder="价格">
                    <span class="input-group-addon" id="input-text-price-addon_after">CNY</span>
                </div>
            </div>
        </div>
        <!-- contact -->
        <div class="form-group" id="form-group-price">
            <label for="input-price" class="col-md-3 control-label">联系方式</label>
            <div class="col-md-6">
                    <input v-model="contact" type="text" class="form-control" name="price" value=""
                           placeholder="联系方式">
            </div>
        </div>
        <!-- min_limit -->
        <div class="form-group" id="form-group-title">
            <label for="input-title" class="col-md-3 control-label">
                最小限额
                <small class="text-danger glyphicon glyphicon-asterisk"></small>
            </label>
            <div class="col-md-6">
                <input v-model="min_limit" id="input-title" type="text" class="form-control" name="bbbb" value=""
                       placeholder="最小限额" required>
            </div>
        </div>
        <!-- max_limit -->
        <div class="form-group" id="form-group-title">
            <label for="input-title" class="col-md-3 control-label">
                最大限额
                <small class="text-danger glyphicon glyphicon-asterisk"></small>
            </label>
            <div class="col-md-6">
                <input v-model="max_limit" id="input-title" type="text" class="form-control" name="ssss" value=""
                       placeholder="最大限额" required>
            </div>
        </div>
        <!-- img -->
        <div class="form-group" id="form-group-contact">
            <label for="input-contact" class="col-md-3 control-label">商品图片</label>
            <div class="col-md-6">
                <input accept="image/*" id="ad_upload_file" type="file" class="form-control">
            </div>
        </div>
        <!-- send_addr -->
        <div class="form-group"  id="kindsell">
            <label for="input-shou_huo_addresss" class="col-md-3 control-label">发货地址或账号
                <small class="text-danger glyphicon glyphicon-asterisk"></small>

            </label>
            <div class="col-md-6">
                    <textarea v-model="send_addr" id="input-shou_huo_addresss" type="text" class="form-control"
                              name="shou_huo_addresss" placeholder="" rows="3"></textarea>
            </div>
        </div>
        <!-- notes -->
        <div class="form-group" id="form-group-message">
            <label for="input-message" class="col-md-3 control-label">广告留言（选填）</label>
            <div class="col-md-6">
            <textarea v-model="notes" id="input-message" type="text" class="form-control" name="message"
                      placeholder=""
                      rows="3" required="required">
            </textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <input type="button" @click="Publish" class="btn btn-primary" value="立即发布"/>
            </div>
        </div>
    </div>
</template>

<script>

    import Vue from 'vue'
    import axios from 'axios'
    import VueAxios from 'vue-axios'

    /*************************************************/
    import Snotify, { SnotifyPosition } from 'vue-snotify'
    // @import "~vue-snotify/styles/simple"

    const options = {
      toast: {
        position: SnotifyPosition.rightTop
      }
    }

    Vue.use(Snotify, options)
    /*************************************************/
    Vue.use(VueAxios, axios)

    export default {
        name: "app",

        props: {
            upform:{
                type:Object,
                default:{},
            },
        },

        data () {
            return {
                ad_area: "",
                ad_type: "",
                title: "",

                good_name: "",
                price: "",
                contact: "",
                img: "",
                notes: "",

                stock_num: "",
                send_addr: "",

                min_limit: "",
                max_limit: "",

            }
        },

        methods: {

            Publish () {

                // 收集父级信息
                this.ad_area = this.upform.adArea
                this.ad_type = this.upform.adType
                this.title = this.upform.adTitle

                // good_name 暂时为父级title
                this.good_name = this.upform.adTitle

                // 文件处理
                let file = document.getElementById("ad_upload_file").files[0]

                let formdata = new FormData()

                formdata.append('ad_area', this.ad_area)
                formdata.append('ad_type', this.ad_type)
                formdata.append('title', this.title)
                formdata.append('good_name', this.good_name)
                formdata.append('price', this.price)
                formdata.append('contact', this.contact)
                formdata.append('img', file)
                formdata.append('notes', this.notes)
                formdata.append('stock_num', this.stock_num)
                formdata.append('send_addr', this.send_addr)
                formdata.append('min_limit', this.min_limit)
                formdata.append('max_limit', this.max_limit)


                // 图片上传configuration
                let config = {
                    headers: {'Content-Type': 'multipart/form-data'}
                 }

                this.$http.post('/biz/bt/publish' , formdata , config).then(response => {
                    if (response.data.status == 0) {
                        //
                        // 成功
                        this.$snotify.success('发布成功');
                    } else {
                        //
                        // 失败
                        this.$snotify.error(response.data.msg);

                    }
                } , response => {

                    // 网络错误
                });

            }
        }

    }
</script>