<template>
    <div class="panel panel-default">
		<div class="panel-heading">{{ __('Message chat') }}</div>
	
		<div class="panel-body chat-box" :id="chatBoxId">
			<ul class="chat-messages" v-show="messageList.length > 0 || typing">
				<chat-message v-for="message in messageList" :key="message.id" :order="order" :message="message" :prev_message="prev_message" @imageLoaded="onImageLoaded"></chat-message>
				<li class="partner chat-typing" v-show="typing">
					<user :user="target_user"></user>
					<div class="content-box">
						<div class="content-body">
							<div class="content text">{{ __('Typing...') }}</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="panel-footer">
			<chat-send :order="order" @send="onSend" @typing="onTyping"></chat-send>
		</div>
	</div>
</template>

<script>
    export default {
    	props: [ 'order', 'messages' ],
    	data () {
    		return {
    			chatBoxId: 'chat-box-' + parseInt(Math.random()*100000),
    			messageList: this.messages,
    			prev_message: null,
    			target_user: users[this.order.buyer_id != auth.id ? this.order.buyer_id : this.order.seller_id],
    			typing: false
    		};
    	},
    	watch: {
    		messageList(messages) {
    			clearTimeout(this.typing);
    			this.typing = false;
    			this.scrollBottom();
    			
    			// 发送新消息已读回执。
    			if (messages.length > 0) {
	    			let newMessage = messages[messages.length-1];
	    			if (newMessage.source_id != auth.id) {
	    				axios.post(route('message.read'), { id: newMessage.id });
	    			}
    			}
    		}
    	},
    	methods: {
    		messagesAppend(newMessage) {
    			let exists = false;
				for (let i in this.messageList) {
					if (this.messageList[i].id == newMessage.id) {
						this.messageList[i] = newMessage;
						exists = true;
						break;
					}
				}
				if ( ! exists) {
					this.messageList.push(newMessage);
				}
    		},
    		scrollBottom() {
    			this.$nextTick(() => {
    				let container = document.getElementById(this.chatBoxId);
    				container.scrollTop = container.scrollHeight;
    			});
    		},
    		onSend(message) {
    			this.messagesAppend(message);
    		},
    		onTyping(e) {
   				clearTimeout(this.typing);
    			this.typing = setTimeout(() => {
    				this.typing = false;
    			}, 1000);
    			this.scrollBottom();
    		},
    		onImageLoaded() {
    			this.scrollBottom();
    		}
    	},
        mounted() {
            this.scrollBottom();
            
            window.Echo && Echo.private('order.' + this.order.id)
	    		.listen('MessageCreated', (e) => {
	    			let message = e.message;
	    			
	    			// 过滤掉不是发给当前用户的系统消息。
	    			if (message.type == 'System' && message.target_id != window.auth.id) {
	    				return;
	    			}
	    			
	    			this.messagesAppend(message);
	    		})
	    		.notification((notification) => {
	    			switch (notification.type) {
	    				case 'App\\Notifications\\MessageHaveRead':
	    					for (var i in notification.ids) {
	    						let message_id = notification.ids[i];
	    						for (let j in this.messageList) {
	    							let message = this.messageList[j];
		    						if (message.id == message_id) {
		    							message.is_read = true;
		    							break;
		    						}
		    					}
	    					}
	    					break;
	    			}
	    		});
        }
    }
</script>
