<template>
    <li :class="role">
    	<template v-if="isSystem">
			<div class="alert">
				<h4>{{ __(message.extra.title, { 'coin': order.counter.coin }) }}</h4>
				<p>{{ __(message.content, { 'coin': order.counter.coin }) }}</p>
				<time>{{ message.created_at }}</time>
			</div>
    	</template>
    	<template v-else>
			<user :user="user"></user>
			<div class="content-box">
				<div class="content-info">
					<time :datetime="message.created_at">{{ message.created_at }}</time>
				</div>
				<div class="content-body">
					<div class="content text" v-if=" message.type == 'Text' ">{{ message.content }}</div>
					<div class="content image" v-if=" message.type == 'Image' ">
						<a :href="'#' + imageModalId" target="_blank" data-toggle="modal">
							<img :src="image" class="img-responsive center-block" :alt="imageAlt" @load="imageLoaded">
						</a>
						<div class="modal fade" :id="imageModalId" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document" :style="{ width: 'auto', 'max-width': this.message.extra.width + 'px', height: this.message.extra.height + 'px' }">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title">{{ __('Image') }}</h4>
									</div>
									<div class="modal-body">
										<img :src="image" class="img-responsive center-block" :alt="imageAlt">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-read" v-if="read">{{ __('Have read') }}</div>
				</div>
			</div>
		</template>
	</li>
</template>

<script>
    export default {
    	props: [ 'order', 'message', 'prev_message' ],
    	data() {
    		return {
    			imageModalId: 'chat-image-modal-' + this.message.id,
    			user: users[this.message.source_id]
    		};
    	},
    	computed: {
    		me() {
    			return auth.id == this.message.source_id;
    		},
    		isSystem() {
    			return this.message.type == 'System';
    		},
    		role() {
    			if (this.isSystem) {
    				return 'system';
    			}
    			return this.me ? 'me' : 'partner';
    		},
    		read() {
    			return this.me && this.message.is_read;
    		},
    		image() {
    			return route('message.image', { message_id : this.message.id });
    		},
    		imageAlt() {
    			return '[' + this.__('Image') + ']';
    		}
    	},
    	methods: {
    		imageLoaded() {
    			this.$emit('imageLoaded', this.message);
    		}
    	},
        mounted() {
            // console.log('chat-message mounted.', this.message)
        }
    }
</script>
