<template>
    <form class="chat-send" @submit.prevent="onSubmit">
		<div class="form-group" v-bind:class="{ 'has-error': errors.length }">
			<div class="input-group">
				<div class="form-control-box">
					<textarea class="form-control" rows="3" v-model="content" @keydown="onKeydown($event)"></textarea>
					<input type="file" class="form-control" accept="image/png, image/gif, image/jpeg" @change="upload" :id="chatSendFileId">
				</div>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
						{{ __('Send') }}
					</button>
				</span>
			</div>
			<span class="help-block" v-for="error in errors">
				<strong>{{ error }}</strong>
			</span>
		</div>
	</form>
</template>

<script>
    export default {
    	props: [ 'order' ],
    	data() {
    		return {
    			chatSendFileId: 'chat-send-file-' + parseInt(Math.random()*100000),
    			order_id: this.order.id,
    			content: '',
    			errors: []
    		};
    	},
    	watch: {
    		content() {
    			window.Echo && Echo.private('order.' + this.order.id).whisper('typing', this.content.length);
    		}
    	},
        methods: {
        	onKeydown(event) {
        		if (event.key == 'Enter' && ! event.altKey && ! event.ctrlKey && ! event.metaKey && ! event.shiftKey) {
        			event.preventDefault();
        			this.onSubmit();
        		} else {
        			window.Echo && Echo.private('order.' + this.order.id).whisper('typing', this.content.length);
        		}
        	},
        	onSubmit() {
        		if( ! $.trim(this.content)){
        			this.content = '';
        			return; // 阻止提交空内容。
        		}
        		let data = {
           			order_id: this.order_id,
           			message_text: this.content
           		};
        		axios.post(route('message.send'), data).then((response) => {
                    this.content = '';
                    this.errors = [];
                    this.$emit('send', response.data);
                }).catch((error) => {
                	this.errors = [];
                	for (let field in error.response.data.errors) {
                		this.errors = this.errors.concat(error.response.data.errors[field]);
                	}
                });
        	},
        	upload(event) {
        		let file = event.target.files[0];
        		let data = new FormData();
        		data.append('order_id', this.order_id);
        		data.append('message_image', file, file.name);
        		let config = {
					headers: { 'Content-Type': 'multipart/form-data' },
					onUploadProgress: function (progressEvent) {
						//console.log(progressEvent);
					}
				}
        		axios.post(route('message.send'), data, config)
					.then(response => {
						this.errors = [];
						this.$emit('send', response.data);
					}).catch((error) => {
	                	this.errors = [];
	                	for (let field in error.response.data.errors) {
	                		this.errors = this.errors.concat(error.response.data.errors[field]);
	                	}
	                });
        		document.getElementById(this.chatSendFileId).value = '';
			}
        },
        mounted() {
        	window.Echo && Echo.private('order.' + this.order.id)
				.listenForWhisper('typing', (e) => {
					this.$emit('typing', e);
				});
        }
    }
</script>
