<template>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <!-- 声明区域组件 -->
                        <ad-notice></ad-notice>

                        <div class="panel-body">
                            <form class="form-horizontal" method="POST" action="" v-model="form">

                            <h4>交易类型</h4>
                            <hr>

                            <div class="form-group" id="form-group-coin_area">
                                <label class="col-md-3 control-label muted">
                                    选择广告区
                                    <small class="text-danger glyphicon glyphicon-asterisk"></small>
                                </label>
                                <div class="col-md-6">
                                    <label for="input-coin_area-TUZI" class="radio-inline">
                                        <input v-model="form.adArea" type="radio" value="0">虚拟区
                                    </label>
                                    <label for="input-coin_area-DTC" class="radio-inline" value="device">
                                        <input v-model="form.adArea" type="radio" value="1">硬件设备区
                                    </label>

                                    <p id="help-block-coin_area" class="help-block">若交易区选择错误，广告会删除</p>
                                </div>
                            </div>

                            <div class="form-group" id="form-group-type">
                                <label class="col-md-3 control-label">
                                    广告类型
                                    <small class="text-danger glyphicon glyphicon-asterisk"></small>
                                </label>

                                <div class="col-md-6">
                                    <label for="input-type-OnlineBuy" class="radio-inline">
                                        <input v-model="form.adType" type="radio" value="0">
                                        在线收购
                                    </label>
                                    <label for="input-type-OnlineSell" class="radio-inline">
                                        <input v-model="form.adType" type="radio" value="1"
                                        >
                                        在线出售
                                    </label>

                                </div>
                            </div>

                            <div class="form-group" id="form-group-title">
                                <label for="input-title" class="col-md-3 control-label">
                                    广告标题
                                    <small class="text-danger glyphicon glyphicon-asterisk"></small>
                                </label>
                                <div class="col-md-6">
                                    <input  v-model="form.adTitle" id="input-title" type="text" class="form-control" name="title" value=""
                                           placeholder="广告标题" required>
                                    <p id="help-block-title" class="help-block">请填写简单直观的标题名称，限10字</p>
                                </div>
                            </div>

                            <h4>更多信息</h4>
                            <hr>

                            <!-- 下面的更多信息 -->
                            <component :is="currentView" keep-alive :upform="form"></component>

                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import AdNotice from './components/AdNotice.vue'
    import AdSellAg from './components/AdSellAg.vue'
    import AdSellVg from './components/AdSellVg.vue'
    import AdAcqAg from './components/AdAcqAg.vue'
    import AdAcqVg from './components/AdAcqVg.vue'

    export default {
        name: "app",

        data() {
            return {
                currentView: "AdAcqVg",
                form: {
                    adArea: "0",
                    adType: "0",
                    adTitle: ""
                }
            }
        },

        watch: {
            "form.adType": function (variable) {
                this.currentView = this.detectCurrentView(variable , this.form.adArea)
            },
            "form.adArea": function (variable) {
                this.currentView = this.detectCurrentView(this.form.adType , variable)
            },
        },

        computed: {

        },

        components: {
            AdNotice,
            AdSellAg,
            AdSellVg,
            AdAcqAg,
            AdAcqVg
        },

        methods: {
            detectCurrentView (adType , adArea) {

                let v = [adType , adArea].join('-')
                let ret = 'AdAcqVg'

                switch (v) {
                    case '0-0':
                        ret = 'AdAcqVg';
                        break;

                    case '0-1':
                        ret = 'AdAcqAg';
                        break;

                    case '1-0':
                        ret = 'AdSellVg';
                        break;

                    case '1-1':
                        ret = 'AdSellAg';
                        break;

                    default:
                        break;
                }

                return ret
            }
        },

        mounted() {

        }
    };
</script>
