
// Body
$body-bg: #f0f0f0;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #00bdbd;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$font-family-sans-serif: "Microsoft YaHei", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #727272;

// Navbar
$navbar-default-bg: #fff;
$navbar-default-link-active-color: $navbar-default-bg;
$navbar-default-link-active-bg: $brand-primary;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: $brand-primary;
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
