
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0
}
input[type=number] {
    -moz-appearance: textfield;
}

*::selection {
	color: #fafafa;
	background-color: #1fdfdf;
}
*::-khtml-selection {
	color: #fafafa;
	background-color: #1fdfdf;
}
*::-webkit-selection {
	color: #fafafa;
	background-color: #1fdfdf;
}
*::-moz-selection {
	color: #fafafa;
	background-color: #1fdfdf;
}
*::-ms-selection {
	color: #fafafa;
	background-color: #1fdfdf;
}
*::-o-selection {
	color: #fafafa;
	background-color: #1fdfdf;
}

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
      }
    }
  }
}

.dropdown-menu > li .btn {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap;
	width: 100%;
	border: 0;
	text-align: left;
	border-radius: 0;
	&:hover {
		background-color: $dropdown-link-hover-bg;
	}
}

#language-select {
	margin-bottom: 22px;
	ul, li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	ul {
		display: flex;
		justify-content: center;
	}
	li {
		margin-left: 8px;
		padding-right: 8px;
		border-right: solid 1px $laravel-border-color;
		line-height: 100%;
		&:last-child {
			border-right: 0;
		}
	}
}

.price {
	white-space: nowrap;
}
.payment_address {
	white-space: pre-wrap;
	word-break: break-all;
}
.form-btn {
	display: inline-block;
}

@import "navbar";
@import "jumbotron";
@import "home";
@import "security";
@import "counter";
@import "wallet";
@import "order";
@import "profile";
@import "chat";
@import "trust";


@import "~vue-snotify/styles/simple"
