$chat-me-bgcolor: #dff0d8;
$chat-partner-bgcolor: #f9f9f9;

.chat-box {
	height: 500px;
	overflow-y: auto;
}

.chat-messages {
	width: 100%;
	overflow: hidden;
	&, li {
		padding: 0;
		margin: 0;
	}
	li {
		display: flex;
		margin: 11px 0;
		&:last-child {
			margin-bottom: 0;
		}
		&.system {
			.alert {
				width: 60%;
				margin: auto;
				background-color: $chat-partner-bgcolor;
				box-shadow: 0 0 2px #ccc;
				time {
					display: block;
					font-size: 11px;
					text-align: right;
					margin-top: 11px;
				}
			}
		}
		&.me {
			flex-direction: row-reverse;
			margin-left: 10%;
			.content-box {
				align-items: flex-end;
				margin-right: 10px;
				.content-info {
					text-align: right;
					padding-right: 5px;
				}
				.content-body {
					.content {
						background-color: $chat-me-bgcolor;
					}
					.content:before {
						border-left-color: $chat-me-bgcolor;
						border-left-style: solid;
						right: -16px;
					}
				}
			}
		}
		&.partner {
			flex-direction: row;
			margin-right: 10%;
			.content-box {
				align-items: flex-start;
				margin-left: 10px;
				.content-info {
					text-align: left;
					padding-left: 5px;
				}
				.content-body {
					.content {
						background-color: $chat-partner-bgcolor;
					}
					.content:before {
						border-right-color: $chat-partner-bgcolor;
						border-right-style: solid;
						left: -16px;
					}
				}
			}
		}
		&.chat-typing {
			margin-top: 22px;
			.content-body{
				margin-top: 11px;
				.content.text {
					white-space: nowrap;
				}
			}
		}
		&.separator {
			height: 22px;
		}
	}

	.user {
		flex-direction: column;
		width: 60px;
		.avatar {
			margin: 0 auto 5px;
		}
		.username {
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			word-wrap: break-word;
			text-align: center;
			line-height: $font-size-base;
			font-size: $font-size-base;
			margin: 0;
		}
	}
	
	.content-box {
		display: flex;
		flex-direction: column;
		.content-info {
			font-size: 12px;
			display: inline-block;
		}
		.content-body {
			display: flex;
			align-items: flex-end;
			.content-read {
				flex-shrink: 0;
				font-size: 12px;
				order: 1;
			}
			.content {
				order: 2;
				position: relative;
				box-shadow: 0 0 5px #ccc;
				padding: .6em;
				margin: 0 5px 5px;
				border-radius: 4px;
				&:before {
					content: "";
					width: 0;
					height: 0;
					line-height: 0;
					font-size: 0;
					border-color: transparent;
					border-style: dashed;
					border-width: 8px;
					display: block;
					position: absolute;
					top: 8px;
					z-index: 999;
				}
				&.text {
					white-space: pre-wrap;
					word-break: break-all;
				}
				&.image img {
					max-width: 100%;
				}
			}
		}
	}
}

.chat-send {
	.form-group {
		margin: 0;
		.input-group {
			display: flex;
			.form-control-box {
				width: 100%;
				textarea {
					border-bottom-left-radius: 0;
				}
				input {
					border-radius: 0;
					border-bottom-left-radius: 4px;
					margin-top: -1px;
				}
			}
			.input-group-btn {
				display: flex;
				width: auto;
				@at-root .has-error .input-group-btn {
					.btn {
						color: $state-danger-text;
						border-color: $state-danger-text;
						background-color: $state-danger-bg;
					}
				}
			}
		}
	}
}
