.message {
	white-space: pre-wrap;
	word-break: break-all;
}
.control-amount {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.input-group {
		width: 47%;
		flex-shrink: 1;
	}
	.glyphicon {
		font-size: 22px;
	}
}