.thumbnail {
	background-color: #fff;
	&.index-1 .profile {
		background-image: url("../images/bg1.jpg");
	}
	&.index-2 .profile {
		background-image: url("../images/bg2.jpg");
	}
	&.index-3 .profile {
		background-image: url("../images/bg3.jpg");
	}
	&.index-4 .profile {
		background-image: url("../images/bg4.jpg");
	}
	.profile {
		margin: -4px;
		padding: 10px 0;
		color: #fff;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		.user {
			width: 50px;
			margin: auto;
			margin-bottom: 22px;
			padding-top: 10px;
			.username {
				display: none;
			}
		}
		.credit {
			display: flex;
			justify-content: center;
			font-size: 12px;
			margin: 0;
			dl {
				color: #fff;
				&:last-child {
					display: none;
				}
			}
		}
		.introduction {
			display: none;
		}
	}
	.caption {
		text-align: center;
		h3 {
			margin: 0;
			font-size: 16px;
			padding: 12px 22px;
			border-bottom: solid 2px $thumbnail-border;
			display: inline-block;
			margin-bottom: 11px;
		}
		p {
			margin: 0;
			color: $text-muted;
			font-size: 12px;
		}
		.btn {
			margin-top: 11px;
		}
	}
}
.site-info {
	background-color: #fff;
	padding: 50px 0;
	margin: 30px 0;
	.site-info-container {
		display: flex;
		justify-content: space-between;
		.site-item {
			max-width: 250px;
			text-align: center;
			.glyphicon {
				font-size: 32px;
			}
		}
	}
}

.notice {
	position: relative;
	top: -30px;
	background-color: #f2f6f9;
	text-align: center;
	.alert {
		margin: 0;
	}
	.title {
		color: $text-color;
		&:hover {
			text-decoration: none;
		}
	}
}