.jumbotron {
	margin-top: -22px;
	height: 420px;
	background: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	word-break: break-all;
	.h1, .h3 {
		font-weight: 400;
		position: relative;
	}
	.h1 {
		display: inline-block;
		font-size: 58px;
		color: #fff;
		font-weight: 700;
		border-bottom: solid 1px #00bdbd;
		padding-bottom: 20px;
	}
	.h3 {
		color: #fff;
		font-size: 30px;
		margin: 20px 0;
	}
	.decs {
		font-size: 16px;
		color: #fff;
		opacity: 0.8;
		margin: 0;
		text-shadow: 0 0 1px #fff;
	}
}