.dropdown-header {
	dl {
		display: flex;
		margin: 0;
		dt {
			margin-right: 12px;
		}
		dd {
			flex-grow: 1;
			text-align: right;
			.coin {
				width: 24px;
				display: inline-block;
				text-align: justify;
				text-align-last:justify;
			}
		}
	}
}