// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.dropdown-menu, .collapse {
	display: block;
}
@media (max-width: $grid-float-breakpoint-max) {
	.dropdown-menu {
	  position: static;
	  float: none;
	  width: auto;
	  margin-top: 0;
	  background-color: transparent;
	  border: 0;
	  box-shadow: none;
	  > li > a,
	  .dropdown-header {
	    padding: 5px 15px 5px 25px;
	  }
	  > li > a {
	    line-height: $line-height-computed;
	    &:hover,
	    &:focus {
	      background-image: none;
	    }
	  }
	}
}

#form-group-final_deal {
	display: none;
}
