@media (min-width: $screen-xs-max) {
	.avatar-edit {
		position: relative;
		left: -60px;
	}
}

.profile {
	.user {
		margin-top: 11px;
		margin-bottom: 22px;
		.username {
			font-size: 22px;
			margin-left: 20px;
		}
	}
	.credit, .introduction {
		margin-left: 60px;
	}
	.credit {
		margin-bottom: 22px;
	}
}

.user {
	display: flex;
	align-items: center;
	.avatar {
		width: 50px;
		height: 50px;
		position: relative;
		img, .glyphicon {
			width: 100%;
			height: 100%;
			border-radius: 50px;
			overflow: hidden;
			background-color: #ccc;
		}
		.glyphicon {
			color: #fff;
			font-size: 40px;
			text-align: center;
			padding-top: 12px;
		}
		.user-status {
			display: block;
			height: 11px;
			width: 11px;
			border-radius: 11px;
			border: 1px solid #fff;
			background: #c9d2dc;
			position: absolute;
			right: 0;
			bottom: 0;
			&.online {
				background-color: #82e70e;
			}
		}
		.avatar-edit {
			border-radius: 50px;
			overflow: hidden;
			position: absolute;
			left:0;
			top:0;
			right:0;
			bottom:0;
			span {
				font-size: 12px;
				text-align: center;
				width: 100%;
				position: absolute;
				bottom:0;
				z-index: 1;
				background-color: rgba(0, 0, 0, .5);
				color: #fff;
			}
			input {
				cursor: pointer;
				opacity: 0;
				width: 100px;
				height: 100px;
				position: absolute;
				left:-10px;
				top:-20px;
				z-index: 2;
			}
		}
	}
	.username {
		font-size: 16px;
		margin-left: 11px;
	}
}

.credit {
	display: flex;
	dl {
		display: flex;
		flex-direction: column-reverse;
		text-align: center;
		color: $state-info-text;
		margin: 0 11px;
	}
}

.trust-ignore {
	margin-top: 11px;
	margin-bottom: 30px;
	@include clearfix;
	.form-btn {
		float: right;
	}
}

.user-check {
	margin-top: 30px;
	@include clearfix;
	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul {
		float: right;
	}
	li {
		display: inline-block;
		margin-left: 22px;
		margin-bottom: 11px;
		.label {
			padding: 0;
			font-size: 12px;
			width: 25px;
			height: 25px;
			display: inline-block;
			border-radius: 25px;
			line-height: 25px;
		}
	}
}
