.security-level {
	margin-right: 10px;
}
.security-list {
	.media {
		margin-top: 30px;
		.media-object {
			width: 40px;
			height: 40px;
			border-radius: 40px;
			text-align: center;
			line-height: 45px;
			font-size: 22px;
			padding: 0;
		}
	}
}