.user-list {
	padding: 0 30px;
	.user-item {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
		border-bottom: 1px solid #d1dae2;
		.user, .trade-count {
			width: 30%;
		}
		.trade-count {
			text-align: right;
			line-height: 50px;
			font-size: 16px;
		}
	}
}