.balance {
	margin-bottom: 11px;
	h3 {
		font-weight: normal;
		font-size: 20px;
		strong {
			font-size: 32px;
		}
	}
	ul, li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	ul {
		margin-top: 22px;
		@include clearfix;
	}
	li {
		float: left;
		margin-right: 22px;
	}
}
.qrcode {
	width: 130px;
	height: 130px;
}
.currency-tabs {
	margin-bottom: 22px;
	> li > a {
		padding-left: 50px;
		padding-right: 50px;
	}
}