<template>
	<span>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PaymentModal" :disabled="disabled">{{ __('Mark payment as complete') }}</button>
	
		<div class="modal fade" id="PaymentModal" tabindex="-1" role="dialog" aria-labelledby="PaymentModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="PaymentModalLabel">{{ __('Mark payment as complete') }}</h4>
					</div>
					<div class="modal-body">{{ __('Please ensure you processed the payment.') }}</div>
					<div class="modal-body">安全密码：<input type="password" data-key="secondary_password" value="" autocomplete="off" placeholder="请输入安全密码"/></div>
					<div class="modal-footer">
						<form class="form-btn" @submit.prevent="false">
							<button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Close') }}</button>
							<button type="button" class="btn btn-primary" @click="submit">{{ __('OK') }}</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</span>
</template>

<script>
    export default {
    	props: [ 'order' ],
    	data() {
    		return {
	    		disabled: false
	    	}
    	},
    	methods: {
    		submit(e) {
    			$(e.target).parents('.modal').modal('hide');
    			
        		let data = {
           			id: this.order.id,
					secondary_password:$(e.target).parents('.modal').find('input[data-key="secondary_password"]').val()
           		};
				console.log(data);
        		this.disabled = true;
        		axios.post(route('order.payment'), data).then((response) => {
                    if(response.data.code!=0) {
                        alert(response.data.msg);
                    } else {

                    }
                    this.disabled = false;
                }).catch((error) => {
        			this.disabled = false;
        			let errors = [];
                	for (let field in error.response.data.errors) {
                		errors = errors.concat(error.response.data.errors[field]);
                	}
                	alert(errors.join("\n"));
                });
    		}
    	}
    }
</script>