<template>
	<span>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RestartModal" :disabled="disabled">{{ __('Restart trade') }}</button>

		<div class="modal fade" id="RestartModal" tabindex="-1" role="dialog" aria-labelledby="RestartModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="RestartModalLabel">{{ __('Restart trade') }}</h4>
					</div>
					<div class="modal-body">{{ __('Are you sure you want to re-activate the trade?') }}</div>
					<div class="modal-footer">
						<form class="form-btn" @submit.prevent="false">
							<button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Close') }}</button>
							<button type="button" class="btn btn-primary" @click="submit">{{ __('OK') }}</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</span>
</template>

<script>
    export default {
    	props: [ 'order' ],
    	data() {
    		return {
	    		disabled: false
	    	}
    	},
    	methods: {
    		submit(e) {
    			$(e.target).parents('.modal').modal('hide');
    			
        		let data = {
           			id: this.order.id
           		};
        		this.disabled = true;
        		axios.post(route('order.restart'), data).catch((error) => {
        			this.disabled = false;
        			let errors = [];
                	for (let field in error.response.data.errors) {
                		errors = errors.concat(error.response.data.errors[field]);
                	}
                	alert(errors.join("\n"));
                });
    		}
    	}
    }
</script>