<template>
	<dl>
		<dt>{{ __('Leave a review for :username ?', { 'username' : partner.username }) }}</dt>
		<dd>
			<form @submit.prevent="onSubmit">
				<div class="form-group">
					<label class="radio-inline" v-for="item in feedbackList">
						<input type="radio" v-model="feedback" :value="item"> {{ __(item) }}
					</label>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" :disabled="disabled">{{ __('Review') }}</button>
				</div>
			</form>
		</dd>
	</dl>
</template>

<script>
    export default {
    	props: [ 'order' ],
    	data() {
    		return {
    			feedbackList: [
	    			'Positive',
	    			'Neutral',
	    			'Negative'
	    		],
	    		feedback: '',
	    		disabled: false
	    	}
    	},
    	methods: {
    		onSubmit() {
        		let data = {
           			id: this.order.id,
           			feedback: this.feedback
           		};
        		this.disabled = true;
        		axios.post(route('order.review'), data).catch((error) => {
        			this.disabled = false;
        			let errors = [];
                	for (let field in error.response.data.errors) {
                		errors = errors.concat(error.response.data.errors[field]);
                	}
                	alert(errors.join("\n"));
                });
    		}
    	},
    	computed: {
    		partner() {
    			return window.users[this.order.buyer_id != window.auth.id ? this.order.buyer_id : this.order.seller_id];
    		}
    	}
    }
</script>
