<template>
	<div v-if="isBuyer">
		<payment :order="orderInfo" v-if="statusWaitPayment"></payment>
		<revoke :order="orderInfo" v-if="statusWaitPayment || statusUnconfirmed"></revoke>
		<review :order="orderInfo" v-if="statusConfirmed && ! orderInfo.buyer_feedback"></review>
	</div>
	<div v-else>
		<release :order="orderInfo" v-if="statusWaitPayment || statusUnconfirmed"></release>
		<restart :order="orderInfo" v-if="statusExpired"></restart>
		<review :order="orderInfo" v-if="statusConfirmed && ! orderInfo.seller_feedback"></review>
	</div>
</template>

<script>
	import payment from './operations/payment.vue';
	import release from './operations/release.vue';
	import restart from './operations/restart.vue';
	import review from './operations/review.vue';
	import revoke from './operations/revoke.vue';
    export default {
    	props: [ 'order' ],
    	data() {
    		return {
    			orderInfo: this.order
    		};
    	},
    	computed: {
    		isBuyer() {
    			return this.orderInfo.buyer_id == window.auth.id;
    		},
    		isSeller() {
    			return this.orderInfo.seller_id == window.auth.id;
    		},
    		statusWaitPayment() {
    			return this.orderInfo.status == 'WaitPayment';
    		},
    		statusUnconfirmed() {
    			return this.orderInfo.status == 'Unconfirmed'; 
    		},
    		statusRevoked() {
    			return this.orderInfo.status == 'Revoked';
    		},
    		statusExpired() {
    			return this.orderInfo.status == 'Expired';
    		},
    		statusConfirmed() {
    			return this.orderInfo.status == 'Confirmed';
    		}
    	},
    	components: {
    		payment,
    		release,
    		restart,
    		review,
    		revoke
    	},
        mounted() {
            window.Echo && Echo.private('order.' + this.orderInfo.id)
	    		.listen('OrderStatusUpdated', (e) => {
	    			this.orderInfo = e.order;
	    		})
	    		.listen('OrderFeedback', (e) => {
	    			this.orderInfo = e.order;
	    		});
        }
    }
</script>
