<template>
	<div v-if="isBuyer">
		<h3 v-if="statusWaitPayment">
			{{ __('Created') }}
			<small>{{ __('This trade will be saved in the system :time_left mins. After that, this trade will expire.', { 'time_left' : time_left }) }}</small>
		</h3>
		<h3 v-if="statusUnconfirmed">
			{{ __('Paid') }}
			<small>{{ __('Please contact the seller to ensure your payment has processed, we will release the :coin to you once the seller has confirmed your payment.', { 'coin': orderInfo.counter.coin }) }}</small>
		</h3>
		<h3 v-if="statusRevoked">
			{{ __('Closed') }}
			<small>{{ __('You have cancelled this trade.') }}</small>
		</h3>
		<h3 v-if="statusExpired">
			{{ __('Expired') }}
			<small>{{ __('The trade is expired, because you have not paid within payment due time.') }}</small>
		</h3>
		<template v-if="statusConfirmed">
			<h3 v-if="orderInfo.buyer_feedback && orderInfo.seller_feedback">
				{{ __('Finished') }}
				<small>{{ __('Trade complete, both side have left a review.') }}</small>
			</h3>
			<h3 v-else-if="orderInfo.buyer_feedback">
				{{ __('Has been reviewed') }}
				<small>{{ __('Have left a review.') }}</small>
			</h3>
			<h3 v-else>
				{{ __('Has been received') }}
				<small>{{ __('Please review this trade.') }}</small>
			</h3>
		</template>
	</div>
	<div v-else>
		<h3 v-if="statusWaitPayment">
			{{ __('Trade Created') }}
			<small>{{ __('This trade will be saved in the system :time_left This trade will expire if the buyer exceeds the payment due time.', { 'time_left' : time_left }) }}</small>
		</h3>
		<h3 v-if="statusUnconfirmed">
			{{ __('Paid') }}
			<small>{{ __('Buyer has marked this trade as Payment Complete, please ensure you have received the money, and then release the :coin to the buyer.', { 'coin': orderInfo.counter.coin }) }}</small>
		</h3>
		<h3 v-if="statusRevoked">
			{{ __('Closed') }}
			<small>{{ __('Buyer has cenceled this trade.') }}</small>
		</h3>
		<h3 v-if="statusExpired">
			{{ __('Expired') }}
			<small>{{ __('The trade is closed, because you did not mark it as Payment Complete within the payment due time.') }}</small>
		</h3>
		<template v-if="statusConfirmed">
			<h3 v-if="orderInfo.buyer_feedback && orderInfo.seller_feedback">
				{{ __('Finished') }}
				<small>{{ __('Trade complete, both side have left a review.') }}</small>
			</h3>
			<h3 v-else-if="orderInfo.seller_feedback">
				{{ __('Has been reviewed') }}
				<small>{{ __('Have left a review.') }}</small>
			</h3>
			<h3 v-else>
				{{ __('Has been released') }}
				<small>{{ __('Please leave a review for this trade.') }}</small>
			</h3>
		</template>
	</div>
</template>

<script>
    export default {
    	props: [ 'order' ],
    	data() {
    		return {
    			orderInfo: this.order,
    			time_left: 0
    		};
    	},
    	computed: {
    		isBuyer() {
    			return this.orderInfo.buyer_id == window.auth.id;
    		},
    		isSeller() {
    			return this.orderInfo.seller_id == window.auth.id;
    		},
    		statusWaitPayment() {
    			return this.orderInfo.status == 'WaitPayment';
    		},
    		statusUnconfirmed() {
    			return this.orderInfo.status == 'Unconfirmed'; 
    		},
    		statusRevoked() {
    			return this.orderInfo.status == 'Revoked';
    		},
    		statusExpired() {
    			return this.orderInfo.status == 'Expired';
    		},
    		statusConfirmed() {
    			return this.orderInfo.status == 'Confirmed';
    		}
    	},
    	methods: {
    		timeLeft() {
				let expires_at = new Date(this.orderInfo.expires_at.replace(/-/g, '/'));
				let time_left = expires_at - Date.now();
				time_left = Math.ceil(time_left / 60 / 1000);
				if (time_left < 0) {
					time_left = 0;
				}
				this.time_left = time_left;
				if (this.time_left > 0) {
	        		setTimeout(this.timeLeft, 1000);
	        	}
    		}
    	},
    	watch: {
    		orderInfo() {
    			this.timeLeft();
    		}
    	},
        mounted() {
    		this.timeLeft();
            
            window.Echo && Echo.private('order.' + this.orderInfo.id)
	    		.listen('OrderStatusUpdated', (e) => {
	    			this.orderInfo = e.order;
	    		})
	    		.listen('OrderFeedback', (e) => {
	    			this.orderInfo = e.order;
	    		});
        }
    }
</script>
