<template>
	<div v-if="isBuyer">
		<dl v-if="statusWaitPayment">
			<dt>{{ __('TIPS') }}</dt>
			<dd>
				<ol v-if="false">
					<li>{{ __('The :coin has been locked, and you will need to complete the payment within the specified time and click the Mark Payment Completed button, otherwise the transaction will be automatically cancelled.', { 'app_name' : appName }) }}</li>
					<li>{{ __('Please indicate your order reference when you are making the payment to help seller identifying your payment.') }}</li>
				</ol>
				<ol v-if="true">
                    <li>{{ __('请务必登录账户，检查到账后，再确认收货，勿轻易相信任何催促理由，及到账短信/邮件等通知。', { 'app_name' : appName }) }}</li>
                    <li>{{ __('请不要在转账留言里使用虚拟币付款/买币等字眼。', { 'coin': orderInfo.counter.coin }) }}</li>
                </ol>
			</dd>
		</dl>
		<dl v-if="statusUnconfirmed">
			<dt>{{ __('TIPS') }}</dt>
			<dd v-if="false">
				{{ __('Once you have marked the payment as complete, the seller will ensure he has received the payment and then release the :coin. You can also take the initiative to contact each other if you have any questions regarding the payment method.', { 'coin': orderInfo.counter.coin }) }}
			</dd>
			<dd v-if="true">
			    <ol v-if="true">
                    <li>{{ __('请务必登录账户，检查到账后，再确认收货，勿轻易相信任何催促理由，及到账短信/邮件等通知。', { 'app_name' : appName }) }}</li>
                    <li>{{ __('请不要在转账留言里使用虚拟币付款/买币等字眼。', { 'coin': orderInfo.counter.coin }) }}</li>
                </ol>
            </dd>
		</dl>
	</div>
	<div v-else>
		<dl v-if="statusWaitPayment || statusUnconfirmed">
			<dt>{{ __('TIPS') }}</dt>
			<dd>
				<ol v-if="false">
					<li>{{ __('Once the transaction has begun, only the buyer and :app_name can cancel the transaction.', { 'app_name' : appName }) }}</li>
					<li>{{ __('Please contact each other to ensure the payment has been processed successfuly, and then release the :coin.', { 'coin': orderInfo.counter.coin }) }}</li>
					<li>{{ __('If anyone asks you to transfer your :coin directly on to his address, please consider carefully the potential risks for doing so before proceeding. Please do not communicate your email address or phone number to traders whom you do not trust yet.', { 'coin': orderInfo.counter.coin }) }}</li>
				</ol>
				<ol v-if="true">
                    <li>{{ __('请务必登录账户，检查到账后，再确认收货，勿轻易相信任何催促理由，及到账短信/邮件等通知。', { 'app_name' : appName }) }}</li>
                    <li>{{ __('请不要在转账留言里使用虚拟币付款/买币等字眼。', { 'coin': orderInfo.counter.coin }) }}</li>
				</ol>
			</dd>
		</dl>
	</div>
</template>

<script>
    export default {
    	props: [ 'order' ],
    	data() {
    		return {
    			appName: window.app_name,
    			orderInfo: this.order
    		};
    	},
    	computed: {
    		isBuyer() {
    			return this.orderInfo.buyer_id == window.auth.id;
    		},
    		isSeller() {
    			return this.orderInfo.seller_id == window.auth.id;
    		},
    		statusWaitPayment() {
    			return this.orderInfo.status == 'WaitPayment';
    		},
    		statusUnconfirmed() {
    			return this.orderInfo.status == 'Unconfirmed'; 
    		},
    		statusRevoked() {
    			return this.orderInfo.status == 'Revoked';
    		},
    		statusExpired() {
    			return this.orderInfo.status == 'Expired';
    		},
    		statusConfirmed() {
    			return this.orderInfo.status == 'Confirmed';
    		}
    	},
        mounted() {
            window.Echo && Echo.private('order.' + this.orderInfo.id)
	    		.listen('OrderStatusUpdated', (e) => {
	    			this.orderInfo = e.order;
	    		});
        }
    }
</script>
