<template>
    <div class="user">
		<div class="avatar">
			<span class="glyphicon glyphicon-user" aria-hidden="true" v-if=" ! userInfo.avatar"></span>
			<img :src="avatarUrl" v-if="userInfo.avatar">
			<span class="user-status" v-bind:class="{ online: userInfo.online }" v-if="showOnlineStatus"></span>
			<div class="avatar-edit" v-if="editEnable" @mouseenter="onMouseenter" @mouseleave="onMouseleave">
				<span v-show="showEditText">{{ __('Edit') }}</span>
				<input type="file" accept="image/png, image/gif, image/jpeg" @change="upload" :id="avatarFileId"> 
			</div>
		</div>
		<div class="username">
			<span v-if=" ! linkEnable">{{ userInfo.username }}</span>
			<a :href="userUrl" v-else>{{ userInfo.username }}</a>
		</div>
	</div>
</template>

<script>
    export default {
    	props: [ 'user', 'user_id' ],
    	data() {
    		let user = null;
    		if (typeof this.user_id != 'undefined' && typeof window.users[this.user_id] != 'undefined') {
    			user = window.users[this.user_id];
    		} else if (typeof this.user != 'undefined' && typeof window.users[this.user.id] != 'undefined') {
    			user = window.users[this.user.id];
    		} else {
    			user = this.user;
    		}
    		return {
    			userInfo: user,
    			avatarFileId: 'avatar-file-' + parseInt(Math.random()*100000),
    			showOnlineStatus: typeof this.$attrs['show-online'] == 'undefined' ? true : this.$attrs['show-online'],
    			linkEnable: typeof this.$attrs['link-enable'] == 'undefined' ? true : this.$attrs['link-enable'],
    			editEnable: this.$attrs['edit-enable'],
    			showEditText: false,
    			disableCache: false
    		}
    	},
    	computed: {
    		avatarUrl() {
    			let url = route('user.avatar', { id: this.userInfo.id });
    			if (this.disableCache) {
    				url += '?_' + this.disableCache;
    			}
    			return url;
    		},
    		userUrl() {
    			return route('user', { id: this.userInfo.id });
    		}
    	},
    	methods: {
    		onMouseenter() {
    			this.showEditText = true;
    		},
    		onMouseleave() {
    			this.showEditText = false;
    		},
    		upload(event) {
        		let file = event.target.files[0];
        		let data = new FormData();
        		data.append('image', file, file.name);
        		let config = {
					headers: { 'Content-Type': 'multipart/form-data' },
					onUploadProgress: function (progressEvent) {
						//console.log(progressEvent);
					}
				}
        		axios.post(route('profile.avatar'), data, config)
					.then(response => {
						this.disableCache = parseInt(Math.random()*100000);
					}).catch((error) => {
						let errors = [];
	                	for (let field in error.response.data.errors) {
	                		errors = errors.concat(error.response.data.errors[field]);
	                	}
	                	alert(errors.join("\n"));
	                });
        		document.getElementById(this.avatarFileId).value = '';
			}
    	},
        mounted() {
			//console.log('user mounted.');
        }
    }
</script>
